.hidden {
    display: none;
}

.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 200;

    .alert,
    .confirm,
    .complex {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .mask {
            background-color: #000;
            width: 100%;
            height: 100%;
            @include setOpacity(.5);
        }
    }

    .dialog {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 478px;
        height: 180px;
    }

    .wrapper {
        background-color: $bg_default;
        border-radius: 4px;
        position: relative;
        width: 100%;
        height: 100%;
        left: -239px;
        top: -90px;
    }

    .header {
        border-bottom: 1px solid $c_border;
        height: 60px;
        text-align: center;
        font-weight: bold;

        .icon {
            font-size: 24px;
            position: absolute;
            left: 24px;
            top: 18px;
        }

        .title {
            font-size: 16px;
            line-height: 60px;
        }
    }

    .footer {
        text-align: center;
        margin-top: 40px;
    }

    @import '_dialog_choose';
    @import '_dialog_move';
}
